<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/CSS">
            <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
             <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>What up</title>
    </head>
<body>

    <div class="form-bg">
        <p id="formTitle">What's up!</p>
        <form action="/" method = 'POST' class="topform">
            {% csrf_token %} 
            <div class="form-row">
                <div class="form-group col-sm-12">  
                    <div class="textfield">
                            {% for fields in form %}
                            {{ fields }}
                            {% endfor %}
                    </div>             
                    
                </div>
            </div>
            <div class="form-row">
                <input type="submit" class="btn btn-add" value="Submit">
            </div>
        </form>
            <br>
            <br>
            <div class="row isi">
                <div class="col-md-12">
                    <div class="text-center">
                            <p id="status">What's been up</p>
                            <p> 
                                    <table>
                                            {% for stats in stats %}
                                            <tr>
                                                <td class="thestatus"> {{ stats.status }}</td>
                                                <td class="statustime">{{ stats.time }}</td>
                                            </tr> 
                                            {% endfor %}
                                        </table>  
                            </p>
                              
                    </div>
                         
                
                </div>
        </div>
    </div>

</body>

</html>