html, body{
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
    background-image: linear-gradient(to bottom right, #4B068D, #ACC0FE);
}

#formTitle{
    font-family: Quicksand;
    font-size : 4vw;
    text-align: center;
    display: inline-block;
}

.form-bg{
    overflow-y: auto;
    width:65%; 
    height:auto; 
    max-height:70%; 
    margin:auto;
    align-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5%;
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
}

.textfield{
    position : relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}


.btn-add{
    background-color:  #4B068D;
    font-family: Quicksand;
    font-size: 1.3vw;
    color:white;
    border-radius : 20px;
    margin: auto;
}

#status{
    margin:auto;
    font-family: Quicksand;
    font-size: 3vw;
}

table{
    width:max-content;
    align-content: center;
    align-items: center;
    text-align: center;
    margin:auto; 
    padding: 2%;
    display: inline;
}

.thestatus{
    font-family : Quicksand; 
    font-size : 1.5vw; 
    float: left;
}

.statustime{
    font-family: Quicksand;
    font-size : 1vw;
    color : gray;
}

/* 
td{
    padding : 0 6% 0 0;
} */

form{
    padding: 2%;
}

.isi{
    float : center;
}
